// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {overflow:hidden;width:100%;padding:24px;}
/* footer */
footer {padding-top:31px;text-align:center;line-height:18px;color:#fff}
footer a {color:#439deb}
footer > section.left {
    padding-right: 4px;
}
footer {
 .left{float:left; }
 ul{
   li{
        display: inline-block;
    a{
        background: url("socials.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        display: inline-block;
        height: 46px;
        margin: 0 5px;
        width: 46px;
     }
     a.facebook {
      background-position: -60px 0;
    }
    a.plus {
      background-position: -122px 0;;
    }
    a.linkedin {
      background-position: right 0;;
    }
   }
 }
}
